Package: nxs
Version: 2026.05.04-1
Section: admin
Priority: optional
Architecture: amd64
Depends: systemd, ca-certificates
Maintainer: Christos Panagiotakis <chris@nixpal.com>
Description: NXS daemon and CLI
 Host integrity/malware scanner (daemon + CLI).
